.initiativeTracker{
    align-content: center;
    padding: 15px;
}

.initiativeTable{
    align-self: center;
    text-align: center;
    width: 100%;
    color: white;
}

.btn{
    height: 100%;
    width: 100%;
    color: white;
    background-color: transparent;
    box-shadow: none;
}

.btn:hover{
    background-color: lightgray;
}


#table {
    background-color: #333;
    border-collapse: collapse;
    border-radius: 8px;
} #table caption{
    background-color: transparent;
    font-family: 'Russo One', sans-serif;
    color: red;
    font-size: 30px;
    padding: 5px
} #table tr {
    color: white;
    height: 20px;
    background-color: transparent;
    border-bottom: 1px solid white;
    
} #table td {
    color: white;
    background-color: transparent;
    
} #table th{
    color: lightgray;
    background-color: transparent;
}


.buttonBoard{
    width: 100%;
    background-color: transparent;
}

.nextButton {
    position: relative;
    top: 0px;
    right: 0px;
    margin-left: 3px;
    width: 49%;
    background-color: red;
    border: solid 1px black;
    
    color: white;
    padding: 15px 32px;
    text-align: center;


    font-size: 16px;
    border-radius: 8px;
} .nextButton:hover{
    background-color: #ff4444;
}

.addUnitButton{
    position: relative;
    margin-right: 3px;
    background-color: red; /* Green */
    border: solid 1px black;
    width: 49%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
} .addUnitButton:hover{
    background-color: #ff4444;
}